<!-- *Name: NhuY Le
 * Assignment: Sydney's Cheesey Cheese 2.2
Date: December 15, 2022

Description: This application allow clients visit the Sydney's Cheesey Cheese 
website,view cheese and information about us.But only authenticated users with 
 correct name and password can log in and see the adding cheese to the inventory
calculate the value, and display cheese's information to the table. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta charset="UTF-8">
<title>Log in Page</title>
<link rel="stylesheet" href="../static/css/forms.css"
	th:href="@{/css/forms.css}">
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{/css/main.css}">

</head>
<body>
<!--Header for the Log In page  -->
<header th:replace="fragments/main.html :: mainHdr('Log In')">
	
	</header>

	<main>
		<!--Navigation for the Log In page  -->
		<nav th:replace="fragments/main.html :: mainNav('/view')">Log In</nav>
	<section>
			<!-- user log in with invalid credentials -->
			<div th:if="${param.error}" class="error">Invalid user or
				password</div>

			<div>

				<form method="POST" th:action="@{/login}" action="#">
					<h3>Log in</h3>
					<p>
					<!--input field for user name  -->
						<label for="userName">User Name: <input type="text"
							id="userName" name="username">
						</label>
					</p>

					<p>
					<!--input field for password  -->
						<label for="pass">Password: <input type="password"
							id="pass" name="password">
						</label>
					</p>

					<p>
					<!--log in button  -->
						<input type="submit" value="Log in">
				</form>
			</div>

		</section>

	</main>
<!-- footer shows year and name of the logged in user -->
	<footer th:replace="fragments/main.html :: mainFtr(${userName})"></footer> 

</body>
</html>